section.attitude-header {
    margin-bottom: -9.2rem;

    img {
        transform: translateX(-9rem);
    }

    h1 {
        font-family: pano;
        font-weight: 400;
        font-size: 100px;
        position: absolute;
        top: 7rem;
        left: -8px;
    }
}