section.bio {
    padding: 6rem auto;
    padding-top:4rem;

    .about {
        max-width: 30rem;

        p {    
            padding-top:4rem;
            padding-top:4rem;
            line-height: 30px;
        }
    }
}
