section.header-video {
  display: flex;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  padding: 0;

  video {
    width: 100%;
    opacity: 0;
    object-fit: cover;
    animation: fade-in 2s linear 1s forwards;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}