section.hero {
    display: flex;
    position: relative;
    flex-direction: column;
    padding-top: 11rem;
    height: 100vh;
    justify-content: flex-end;

    article {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
    }

    h1 {
        font-family: $display-font;
        font-weight: 400;
        font-size: 84px;
        line-height: 88px;
        width: 46rem;
        padding-bottom: 1rem;
        position: relative;
        z-index: 1;

        span {
            font-family: inherit;
            display: block;
        }
    }

    a {
        font-size: 12px;
        padding: 1rem 0;
        position: relative;
        z-index: 1;
    }

    @media(max-width: 727px) {
        h1 {
            font-size: 12vw;
            line-height: 13vw;
        }

        a {
            position: absolute;
            left: $main-padding;
            bottom: -1rem;
        }
    }
}