section.hero {
  display: flex;
  position: relative;
  flex-direction: column;
  padding-top: 11rem;
  height: 100vh;
  justify-content: flex-end;

  article {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }

  h1 {
    font-family: $display-font;
    font-weight: 400;
    font-size: 100px;
    line-height: 88px;
    padding-bottom: 1rem;
    position: relative;
    z-index: 1;
    margin-left: -7px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    .reveal-block {
      position: relative;
      padding: 0.5rem;

      .curtain {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;

        &::after {
          content: "''";
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background: white;
          transform: translateX(calc(-100% - 1px));
          animation: curtain 0.65s 200ms forwards ease-in-out;
        }
      }

      span {
        font-family: $display-font;
        opacity: 0;
        animation: reveal 0s 325ms forwards ease-in-out;
      }

      .skeleton {
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;

        .skeleton-frame {
          width: 100%;
          height: 100%;
          padding: 0.5rem;
          border: 1px solid #fff;
          opacity: 0;
          animation: blick 100ms 50ms forwards;
        }

        .skeleton-diagonal {
          position: absolute;
          top: 0;
          height: 100%;
          width: 100%;
          transform-origin: 50% 50%;
          transform: scaleY(1.6);
          animation: blick 200ms forwards;
          background: linear-gradient(
              to top left,
              rgba(255, 255, 255, 0) 0%,
              rgba(255, 255, 255, 0) calc(50% - 1px),
              rgba(255, 255, 255, 1) 50%,
              rgba(255, 255, 255, 0) calc(50% + 1px),
              rgba(255, 255, 255, 0) 100%
            ),
            linear-gradient(
              to top right,
              rgba(255, 255, 255, 0) 0%,
              rgba(255, 255, 255, 0) calc(50% - 1px),
              rgba(255, 255, 255, 1) 50%,
              rgba(255, 255, 255, 0) calc(50% + 1px),
              rgba(255, 255, 255, 0) 100%
            );
        }
      }

      &.delay-1 {
        .curtain::after {
          animation: curtain 0.65s 400ms forwards ease-in;
        }

        span {
          animation: reveal 0s 650ms forwards;
        }

        .skeleton-frame {
          opacity: 0;
          animation: blick 100ms 250ms forwards;
        }

        .skeleton-diagonal {
          opacity: 0;
          animation: blick 200ms 200ms forwards;
        }
      }

      &.delay-2 {
        .curtain::after {
          animation: curtain 0.65s 600ms forwards ease-in;
        }

        span {
          animation: reveal 0s 975ms forwards;
        }

        .skeleton-frame {
          opacity: 0;
          animation: blick 100ms 500ms forwards;
        }

        .skeleton-diagonal {
          opacity: 0;
          animation: blick 200ms 450ms forwards;
        }
      }
    }



    span {
      font-family: inherit;
      display: block;
    }
  }

  a {
    margin-bottom: 1rem;
    font-size: 12px;
    padding: 1rem 0;
    position: relative;
    z-index: 1;
  }

@media (max-width: 727px) {
    h1 {
      font-size: 10vw;
      line-height: 11vw;
    }
}    

  @media (max-width: 727px) {
    h1 {
      font-size: 12vw;
      line-height: 13vw;
    }

    a {
      position: absolute;
      left: $main-padding;
      bottom: -1rem;
    }
  }
}
