section.logos {
    margin-bottom: 6rem 0;
    .logo-grid {
        width: 100%;
        list-style-type: none;
        display: grid;
        grid-gap: 10px;
        grid-template-columns: repeat(4, 1fr);
        img {
            transform: scale(.75);
        }
    }
}