nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    padding: 4rem;
    section {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: $max-width;
        margin: auto;
    }
    ul {
        display: flex;
        list-style-type: none;
        li {
            margin-left: 2rem;
            a {
                color: $white;
                font-size: 0.8rem;
                padding: 1rem 0;
            }
        }
    }
    //
    .logo {
        width: 60px;
        height: 60px;
        background: transparent url(../assets/rozmy.com-logo.svg) no-repeat center center;
        background-size: contain;
    }
}