$opacity: .5;

section.screenshots {
    article {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        margin-bottom: 6rem;
        grid-column-gap: 40px;

        h1 {
            font-size: .5rem;
            font-weight: normal;
            line-height: 2em;

            span {
                display: block;
            }
        }

        img {
            object-fit: contain;
            width: 100%;
            z-index: 1;
            position: relative;
        }

        a {
            position: absolute;
            width:55%;
            z-index: 2;
            border: none;
            // background: red;
        }

        .hover-title {
            visibility: hidden;
            mix-blend-mode: difference;
            opacity: 0;
            position: fixed;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            transition: all .5s ease;
            display: flex;
            justify-content: center;
            align-items: center;
            font-family: pano;
            font-size: 4rem;
            font-size: 5.4vw;   
            pointer-events: none;
            z-index: 2;
        }

        &.kinsta .hover-title {
            background: rgba(23, 4, 52, $opacity);
        }

        &.a38 .hover-title {
            background: rgba(26, 9, 9, $opacity);
        }

        &.webkey .hover-title {
            background: rgba(36, 16, 42, $opacity);
        }

        &.akvarium .hover-title {
            background: rgba(59, 13, 26, $opacity);
        }

        &:hover {
            .hover-title {
                visibility: visible;
                opacity: 1;
            }
        }

        &.left {
            h1 {
                grid-column: 1/2;
            }

            img {
                grid-column: 2/9;
            }

            &.a38 {
                h1 {
                    grid-column: 9/10;
                }
            }

            a {
                height: 18%;
                left: 8rem;
            }
        }

        &.right {
            h1 {
                grid-column: 5/6;
            }
            img {
                width: 120%;
                grid-column: span 7;
            }

            &.akvarium {
                h1 {
                    grid-column: 4/6;
                }
            }

            a {
                height: 21%;
                width: 62%;
                right: -4rem;
            }
        }

        @media(max-width: 880px) {
            grid-template-columns: .2fr .8fr;

            a {
                left: 12rem !important;
                width: 73% !important;
                height: 19% !important;
            }

            h1 {
                grid-column: 1/2 !important;
            }

            img {
                grid-column: 2/4 !important;
                width: 100% !important;
            }

            &.left.a38 {
                img {
                    order: 2;
                }
                h1 {
                    order: 1;
                    position: absolute;
                }
            }

            .hover-title {
                display: none;
            }
        }

        @media(max-width: 480px) {
            grid-template-columns: 1fr;
            display: flex;
            flex-direction: column;

            h1 {
                grid-column: 1/2 !important;
                margin-bottom: .5rem;
            }

            img {
                grid-column: 1/2 !important;
                width: 100% !important;
            }

            &.left.a38 {
                display: flex;

                img {
                    order: 2;
                }

                h1 {
                    order: 1;
                    position: relative;
                }
            }
        }
    }
}
